/* main css file */

.footer{
	border-top: 1px solid #c6c5c5;
	clear: both;
}
.post-wrp, .load-more-sec{
	margin: 20px 0px;
	float: left;
}
.post-item{
	width: 33.33%;
	margin-bottom: 10px;
	float: left;
}
.post-item .thumb img{
	width: 200px;
	height: 200px;
}

.post-details blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.post-details blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.post-details blockquote p {
  display: inline;
}